INST "$1" AREA_GROUP = "pblock";
AREA_GROUP "pblock" RANGE=SLICE_X0Y1:SLICE_X17Y22;
AREA_GROUP "pblock" RANGE=DSP48_X0Y2:DSP48_X0Y7;
AREA_GROUP "pblock" RANGE=RAMB18_X0Y2:RAMB18_X0Y7;
AREA_GROUP "pblock" RANGE=RAMB36_X0Y1:RAMB36_X0Y3;
